body,html{
	width: 100%;
	height: 100%;
	background-color: #F9F9F9;
}
body{
}
.list{
	width: 100%;
	font-size: 18px;
	line-height: 24px;
	background-color: white;
	padding: 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e2e2;
}
.list span{
	float: right;
	font-size: 12px;
	vertical-align: middle;
}
