body,html{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	height: calc(100% - 40px);
	overflow: scroll;
	box-sizing: border-box;
}
.handle{
	width: 100%;
	height: 40px;
}
.handle div{
	width: 50%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	color: white;
	float: left;
}
.title{
	background-color: white;
	padding: 12px;
	box-sizing: border-box;
}
.tips{
	width: 90%;
	height: 30px;
	margin-left: 5%;
	line-height: 30px;
	color: red;
	background-color: #FDE7C8;
	margin-top: 10px;
	text-align: center;
}
.list{
	width: 100%;
	background-color: white;
	padding: 12px;
	box-sizing: border-box;
	margin-top: 10px;
}
.item{
	width: 100%;
	margin-bottom: 10px;
	background-color: white;
	height: 38px;
}
.item>div{
	width: 50%;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

