body,html{
	width: 100%;
	height: 100%;
	background-color: white;
}
body{
	padding: 12px;
	box-sizing: border-box;
}
.item{
	width: 100%;
	font-family: 'iconfont';
	margin-bottom: 15px;
}
.title{
	color: white;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 30px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 0 5px;
	box-sizing: border-box;
}
.title span{
	float: right;
}
.detail{
	width: 100%;
	box-shadow: 0 4px 6px #00000026;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 5px;
	box-sizing: border-box;
}
